/* цвет 

NAVY BLUE h23 background
rgba(46, 47, 66, 1)

SLATE p
rgba(67, 68, 85, 1)

IRIS фиол лого 
rgba(77, 90, 229, 1)

CLOUD белый h1 background
rgba(255, 255, 255, 1)

CLOUD полубелый
rgba(244, 244, 253, 1)

*/
:root{
    --primary-text-color: rgba(67, 68, 85, 1);/* var(--primary-text-color) */
    --title-text-color:rgba(46, 47, 66, 1);/* var(--title-text-color) */
    --accent-color:rgba(255, 255, 255, 1);/* var(--accent-color) */
    --cloud-color:rgba(244, 244, 253, 1);/* var(--cloud-color) */
    --irish-color:rgba(77, 90, 229, 1);/* var(--irish-color) */
}
/* var (--primary-text-color) */

body{
    color: var(--primary-text-color);
    background-color:var(--accent-color) ;
} 
.list{
    list-style: none;
    
}

.section-title {
    color: var(--title-text-color);
}

/* логотип */
.logo {
    color: var(--primary-text-color);
    text-decoration: none;
}

.logo .logo-web {
    color: var(--irish-color);
    text-decoration: none;
}


/* навигация */
.site-nav a{
    color: var(--primary-text-color);
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus{
    color: var(--irish-color);
}


/* адресса */
.auth-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--irish-color);
}


/* заголовок */
.hero{
    background-color: var(--title-text-color);
}
.hero-title{
    color: var(--accent-color);
}
.hero button {
    color: var(--accent-color);
    background-color: var(--irish-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor:pointer;
}

/* список 4 блока */
.section .title{
    color:var(--title-text-color) ;
}

/* список 3 картинки */


/* команда */
.team{
    background-color: var(--cloud-color);
}
.team .team-list {
    background-color: var(--accent-color);
}

/* футер */
.footer{
    color: var(--accent-color);
    background-color: var(--title-text-color);
}
.footer .studio{
    color: var(--accent-color);
}

/* Portfolio */

/* buttons */

.buttons-menu{
    color: var(--irish-color);
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    }

.buttons-menu:hover,
.buttons-menu:focus {
    color: var(--accent-color);
    background-color: var(--irish-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.product .product-text{
        color: var(--cloud-color);
        background-color: var(--irish-color);
    }